<div class="main">
  <h2 style="text-align: center">Invoices</h2>
  <p></p>
  <mat-divider></mat-divider>

  <p id="example-radio-group-label">Select what do you want to group by ?</p>

  <mat-radio-group
    aria-labelledby="example-radio-group-label"
    class="example-radio-group"
    [(ngModel)]="selectedGroupedBy"
  >
    <mat-radio-button
      style="padding: 10px 10px"
      *ngFor="let group of groups"
      [value]="group"
      (change)="radioChange($event.value)"
    >
      {{ group }}
    </mat-radio-button>
  </mat-radio-group>
  <div style="margin: 10px 0px">You grouped by: {{ selectedGroupedBy }}</div>

  <mat-form-field
    *ngIf="selectedGroupedBy == 'Invoice'"
    style="margin-left: 5px"
  >
    <mat-select
      (selectionChange)="filterByInvoice($event.value)"
      placeholder="Invoice"
    >
      <mat-option *ngFor="let inv of uniqueInvoices" [value]="inv._id">{{
        inv._id
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field
    *ngIf="selectedGroupedBy == 'Distributor'"
    style="margin-left: 5px"
  >
    <mat-select
      (selectionChange)="filterByDistributor($event.value)"
      placeholder="Distributor"
    >
      <mat-option *ngFor="let dist of distributors" [value]="dist._id"
        >{{ dist.Name }} {{ dist.Address }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <mat-form-field
    *ngIf="selectedGroupedBy == 'Customer'"
    style="margin-left: 5px"
  >
    <mat-select
      (selectionChange)="filterByCustomer($event.value)"
      placeholder="Customer"
    >
      <mat-option *ngFor="let cust of customers" [value]="cust._id"
        >{{ cust.Name }} {{ cust.Address }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <mat-form-field
    *ngIf="selectedGroupedBy == 'Product'"
    style="margin-left: 5px"
  >
    <mat-select
      (selectionChange)="filterByProduct($event.value)"
      placeholder="Product"
    >
      <mat-option *ngFor="let prod of products" [value]="prod._id">{{
        prod.Description
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <p></p>
  <mat-divider></mat-divider>

  <table
    style="width: 100%"
    mat-table
    [dataSource]="dataSource"
    multiTemplateDataRows
    class="mat-elevation-z8"
    matSort
  >
    <ng-container matColumnDef="InvoiceNumber">
      <th mat-header-cell *matHeaderCellDef>Invoice #</th>
      <td
        style="padding: 10px 0px 10px 24px"
        mat-cell
        *matCellDef="let element"
      >
        {{ element.InvoiceNumber }}
      </td>
    </ng-container>

    <ng-container matColumnDef="PurchaseDate">
      <th mat-header-cell *matHeaderCellDef>Invoice Date</th>
      <td mat-cell *matCellDef="let element">
        {{ element.PurchaseDate | date: "MM/yyyy" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="DistributorLocationId">
      <th mat-header-cell *matHeaderCellDef>Distributor Name</th>
      <td mat-cell *matCellDef="let element">
        {{ element.DistributorLocationId.Name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="DistributorLocationId2">
      <th mat-header-cell *matHeaderCellDef>Distributor Address</th>
      <td mat-cell *matCellDef="let element">
        {{ element.DistributorLocationId.Address }}
      </td>
    </ng-container>

    <ng-container matColumnDef="CustomerLocationId">
      <th mat-header-cell *matHeaderCellDef>Customer Name</th>
      <td mat-cell *matCellDef="let element">
        {{ element.CustomerLocationId.Name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="CustomerLocationId2">
      <th mat-header-cell *matHeaderCellDef>Customer Address</th>
      <td mat-cell *matCellDef="let element">
        {{ element.CustomerLocationId.Address }}
      </td>
    </ng-container>

    <ng-container matColumnDef="ManufacturerId">
      <th mat-header-cell *matHeaderCellDef>Manufacturer Name</th>
      <td mat-cell *matCellDef="let element">
        {{ element.ManufacturerId.Name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="ManufacturerId2">
      <th mat-header-cell *matHeaderCellDef>Manufacturer Address</th>
      <td mat-cell *matCellDef="let element">
        {{ element.ManufacturerId.Address }}
      </td>
    </ng-container>

    <ng-container matColumnDef="ProductId">
      <th mat-header-cell *matHeaderCellDef>Product Code</th>
      <td mat-cell *matCellDef="let element">
        {{ element.ProductId.ProductCode }}
      </td>
    </ng-container>

    <ng-container matColumnDef="ProductId2">
      <th mat-header-cell *matHeaderCellDef>Product Description</th>
      <td mat-cell *matCellDef="let element">
        {{ element.ProductId.Description }}
      </td>
    </ng-container>

    <ng-container matColumnDef="UnitOfMeasure">
      <th mat-header-cell *matHeaderCellDef>Unit Of Measure</th>
      <td mat-cell *matCellDef="let element">
        {{ element.UnitOfMeasure }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Qty">
      <th mat-header-cell *matHeaderCellDef>Purchased Qty</th>
      <td mat-cell *matCellDef="let element">
        {{ element.Qty }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Weight">
      <th mat-header-cell *matHeaderCellDef>Purchased Weight</th>
      <td mat-cell *matCellDef="let element">
        {{ element.Weight }}
      </td>
    </ng-container>

    <ng-container matColumnDef="UPrice">
      <th mat-header-cell *matHeaderCellDef>Unit Price</th>
      <td mat-cell *matCellDef="let element">
        {{ element.UnitPrice }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Total">
      <th mat-header-cell *matHeaderCellDef>Total Price</th>
      <td mat-cell *matCellDef="let element">
        {{ element.TotalPrice }}
      </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let element">
        <button
          style="outline: none"
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button
            [routerLink]="['/api/itinerario/detalle/' + element.niti_cod]"
            style="outline: none"
            mat-menu-item
          >
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
          <button style="outline: none" mat-menu-item>
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
          <button
            [routerLink]="['/api/itinerario/lista/' + element.niti_cod]"
            style="outline: none"
            mat-menu-item
          >
            <mat-icon>article</mat-icon>
            <span>List of Details</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr
      style="cursor: pointer"
      mat-row
      *matRowDef="let element; columns: columnsToDisplay"
      class="example-element-row"
    ></tr>
  </table>
</div>
